<ion-view view-title="Clients">
 <ion-nav-buttons side="right">
      <button ng-click="openModal()" class="ion-android-add" style="background-color:transparent;border: none;color:black;
background: none;font-size:32px">
       
      </button>
    </ion-nav-buttons>
  <ion-content>
    <ion-list >
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="client in clients" type="item-text-wrap" href="#/tab/chats/{{client.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{client.name}}</h2>
        <p>{{client.company_name}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>

  </ion-content>



  
  <script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">New Client</h1>
        <button class="button ion-close-circled" ng-click="closeModal()" style="background-color:transparent;border: none;color:red;
background: none;font-size:24px"></button>                  

    </ion-header-bar>
    <ion-content>
 
          <form  ng-submit="clearInput()">
                        <div class="list list-inset" >
                            <label class="item item-input">
                                <input ng-model="client.name" name="fieldName" type="text" placeholder="Name" required ng-minlength="2" ng-maxlength="70">
                            </label>
                            <label class="item item-input">
                                <input ng-model="client.username" name="fieldEmail" type="text" placeholder="Username" required ng-maxlength="50">
                            </label>
                            <label class="item item-input">
                                <input ng-model="client.email" name="fieldEmail" type="email" placeholder="E-mail" required ng-maxlength="50">
                            </label>
                            <label class="item item-input">
                                <input ng-model="client.contact" name="fieldSubject" type="text" placeholder="Contact Number" required ng-minlength="2" ng-maxlength="70">
                            </label>
                             <label class="item item-input">
                                <input ng-model="client.company" name="fieldSubject" type="text" placeholder="Store/Company Name" required ng-minlength="2" ng-maxlength="70">
                            </label>
                            <label class="item item-input">
                                <textarea ng-model="client.address" name="fieldBody" placeholder="Address(Shipping Address)" rows="4" required ng-minlength="2" ng-maxlength="70"></textarea>
                            </label>
                        </div>


                        <div class="padding container">
                            <div class="row">
                               
                                <button type="submit" ng-click="add(client)" class="button button-balanced  button-small col col-100"> Create </button>
                            </div>
                        </div>
                    </form> </ion-content>
  </ion-modal-view>
</script>
</ion-view>

