<ion-view view-title="Products">
 <ion-nav-buttons side="right">
      <button ng-click="openModal()" class="ion-android-add" style="background-color:transparent;border: none;color:black;
background: none;font-size:32px">
       
      </button>
    </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>

  </ion-content>
  <script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">New Product</h1>
        <button class="button ion-close-circled" ng-click="closeModal()" style="background-color:transparent;border: none;color:red;
background: none;font-size:24px"></button>

    </ion-header-bar>
    <ion-content>
 
          <form  name="faleComigoForm" class="falecomigo" novalidate form-manager >
                        <div class="list list-inset" >
                            <label class="item item-input">
                                <input ng-model="message.name" name="fieldName" type="text" placeholder="Product Name" required ng-minlength="2" ng-maxlength="70">
                            </label>
                            <label class="item item-input">
                                <input ng-model="message.email" name="fieldEmail" type="email" placeholder="Brand" required ng-maxlength="50">
                            </label>
                            <label class="item item-input">
                                <input ng-model="message.contact" name="fieldSubject" type="text" placeholder="Style-Code" required ng-minlength="2" ng-maxlength="70">
                            </label>
                             <label class="item item-input">
                                <input ng-model="message.company" name="fieldSubject" type="text" placeholder="Short Details" required ng-minlength="2" ng-maxlength="70">
                            </label>
                            <label class="item item-input">
                                <textarea ng-model="message.address" name="fieldBody" placeholder="Brief Details" rows="3" required ng-minlength="2" ng-maxlength="70"></textarea>
                            </label>
                        </div>


                        <div class="padding container">
                            <div class="row">
                               
                                <button ng-click="submit()" class="button button-balanced  button-small col col-100"> Create </button>
                            </div>
                        </div>
                    </form> </ion-content>
  </ion-modal-view>
</script>
</ion-view>

