<ion-view view-title="Dashboard">

  <ion-content class="padding">
 <div class="card animated fadeIn" >
  <div class="item item-divider">
   Today
  </div>
 <div class="list ">


  <a class="item" href="#/tab/orders">
     <span class="badge badge-positive">5</span> Order
  </a>
  <a class="item" href="#">
    <span class="badge badge-positive">2</span>  Products inward
  </a>
    <a class="item" href="#">
  <span class="badge badge-positive">1</span>   Products Outward
  </a>
   <a class="item" href="#">
   <span class="badge badge-positive">0</span>  Orders pending
  </a>
 </div>

</div>
  
  </ion-content>
</ion-view>
